:root {
    --primary-color: #fff;
    --secondary-color: #3f3f3f;
    --alternative-color: #bd8c7d;
    --font-color: #424242;
    --font-color-secondary: #dcdcdc;
    --highlight: #a15d3f;
    --bg-color: #dcdcdc;
    --heading-color: #262626;
    --opaque-color: #dcdcdce3;
}
[data-theme="dark"] {
    --primary-color: #222;
   /* --secondary-color: #dcdcdc;*/
    --alternative-color: #a15d3f;
    --font-color: #dcdcdc;
    --font-color-secondary: #eee;
    --bg-color: #3f3f3f;
    --heading-color: #262626;
}